@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-publicSans: "Public Sans", sans-serif;
    
    --bg-primary: 240, 19%, 17%;
    --bg-secondary: 237, 20%, 21%;
    --bg-tertiary: 238.33, 26.09%, 27.06%;
    --bg-active:  239, 100%, 71%;

    --bg-secondary-hover: 237deg 13.45% 31.36% / 30%;
    --bg-tertiary-hover: 237.14, 19.63%, 20.98%;
    
    --text-primary: 240,25%,87.45%;
    --text-secondary: 239, 100%, 71%;
    --text-muted: 240,9.68%,63.53%;
    --text-active: 0, 0%, 100%;
    
    --primary: 239, 100%, 71%;
    --secondary: 240, 25%, 87.45%;
    --info: 191, 97%, 47%;
    --error: 9, 100%, 56%;
    --success: 99, 71%, 54%;
    --warning: 40.24, 100%, 50%;

    --card: 237, 20%, 21%;
    --card-foreground: 240 10% 3.9%;
  }
}

@layer base {
  body {
    @apply bg-primary text-primary antialiased min-h-screen font-sans;
  }
}